<li class="main-nav__item  main-nav__item--cart">
  <a class="main-nav__link  main-nav__link--cart" href="{{ cart }}">
    <svg class="main-nav__icon  main-nav__icon--cart" width="23" height="19" aria-labelledby="title-icon-cart" role="presentation">
      <title id="title-icon-cart">Иконка корзины</title>
      <use xlink:href="#icon-cart"></use>
    </svg>
    <span>Корзина</span>
    <span class="main-nav__cart-value">{{ text_items }}</span>
  </a>
</li>