<footer class="page-footer">
  <ul class="page-footer__social  social">
    <li class="social__item">
      <a class="social__link  social__link--skype" href="#">
        <svg width="40" height="40" aria-labelledby="title-icon-social-skype" role="img">
          <title id="title-icon-social-skype">Наш контакт в Skype</title>
          <use xlink:href="#icon-social-skype"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link  social__link--facebook" href="#">
        <svg width="40" height="40" aria-labelledby="title-icon-social-facebook" role="img">
          <title id="title-icon-social-facebook">Мы на Facebook</title>
          <use xlink:href="#icon-social-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link  social__link--ok" href="#">
        <svg width="40" height="40" aria-labelledby="title-icon-social-ok" role="img">
          <title id="title-icon-social-ok">Мы на Одноклассниках</title>
          <use xlink:href="#icon-social-ok"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link  social__link--instagram" href="#">
        <svg width="40" height="40" aria-labelledby="title-icon-social-instagram" role="img">
          <title id="title-icon-social-instagram">Мы в Instagram</title>
          <use xlink:href="#icon-social-instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="page-footer__copyright">{{ powered }}</p>
</footer>
<script src="catalog/view/javascript/script.js" type="text/javascript"></script>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{#<script src="catalog/view/javascript/test.js" type="text/javascript"></script>#}



</body></html>