{{ header }}
{{ content_new }}
</header>
<main class="page-content" id="content">
    {{ content_top }}
  <a class="page-content__up-button" href="#">
    <span>&uarr;</span>
    На верх
    <span>&uarr;</span>
  </a>
</main>
{{ footer }}