<section class="page-content__reviews  reviews">
    <h2 class="reviews__title  title">Отзывы наших клиентов</h2>
    <div class="reviews__content  slider">
        <ul class="reviews__list  slider__list">
            <li class="reviews__item  reviews__item--active  slider__item  slider__item--active">
                <p class="reviews__text">Покупаю не первый раз на этом чудесном сайте. Все доходит вовремя и в отличном состоянии, будто вот-вот расцветет. Всем советую этот магазин. А вам приятных клиентов и множества продаж! Спасибо большое за то, что вы есть.</p>
                <div class="reviews__author">
                    <div class="reviews__photo">Фото покупателя оставившего отзыв</div>
                    <b class="reviews__name">Рыжов Никита</b>
                </div>
            </li>
            <li class="reviews__item  slider__item">
                <p class="reviews__text">Цветы? Какие цветы? Я за молоком пришел. Ну ладно, давайте и цветы куплю.</p>
                <div class="reviews__author">
                    <div class="reviews__photo">Фото покупателя оставившего отзыв</div>
                    <b class="reviews__name">Кот Кекс</b>
                </div>
            </li>
            <li class="reviews__item  slider__item">
                <p class="reviews__text">А шо таки тюлпанов не завезли? Тю, и шо я тут стою? Адью вам с хвостиком.</p>
                <div class="reviews__author">
                    <div class="reviews__photo">Фото покупателя оставившего отзыв</div>
                    <b class="reviews__name">Изя</b>
                </div>
            </li>
        </ul>
        <ul class="slider__pagination">
            <li class="slider__number  slider__number--active">Первый слайд</li>
            <li class="slider__number">Второй слайд</li>
            <li class="slider__number">Третий слайд</li>
        </ul>
        <button class="slider__button  slider__button--left" type="button" disabled>Left</button>
        <button class="slider__button  slider__button--right" type="button">Right</button>
    </div>
</section>
